@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import '~react-image-gallery/styles/css/image-gallery.css';
body {
  font-family: 'Inter', sans-serif;
}
body::-webkit-scrollbar{
  display: none;
}
.custom-scrollbar {
  scrollbar-width: thin; 
  scrollbar-color: #c5c5c5 #f0f0f0; 
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px; /* Scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0; /* Track color */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.bg-muted{
  background-color:  #F3F4F5;
}
.text-muted-foreground{
  color: #6C6E74;
}
.bg-primary{
  background-color: #17181A;
}
.bg-breadcrumb{
  background-image: url('./assets//breadcrumbanner.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 20px;
}
.bg-auctionroom {
  background-image: url('./assets/auctionRoom.jpg');
  background-size:contain;
  background-repeat: no-repeat;
  height: 100%;
}
.border-color{
border-color: #364084;
}

.bgfooter_auctionroom{
  background-image: url('./assets/bgfooter_auctionroom.jpg');
  background-repeat: no-repeat;
  /* height: 100%; */
  width: 100%;
  object-fit: cover;
  background-size: 100%;
}

@keyframes marquee {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap; /* Ngăn nội dung xuống dòng */
  animation: marquee 20s linear infinite; /* 10 giây cho một vòng lặp */
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-in-out;
}
@keyframes soft-pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.soft-pulse {
  animation: soft-pulse 2s ease-in-out infinite;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
}