.completed-auctions .completed-auction-item {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f5f5f5;
  }
  
  .completed-auction-item strong {
    font-size: 1.2em;
    color: #333;
  }
  

  //// auction Modal
  // .modal-detail .modal-header {
  //   background-color: #343a40;
  //   color: #fff;
  // }
  
  // .modal-detail .modal-footer {
  //   display: flex;
  //   justify-content: space-between;
  // }
  
  // .input-readonly {
  //   background-color: #f8f9fa;
  //   border: 1px solid #ced4da;
  //   color: #495057;
  //   cursor: not-allowed;
  // }