.app {
    font-family: Arial, sans-serif;
    padding: 10px;
  }
  
  .dashboard {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-height: unset; /* Loại bỏ giới hạn chiều cao */
    height: auto; /* Để chiều cao tự điều chỉnh theo nội dung */
    overflow: visible; /* Đảm bảo không cắt bớt nội dung */
  }
  
  
.auctions,
.active-auction,
.new-auctions {
  flex: 1;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
  max-height: 800px; /* Giới hạn chiều cao */
  overflow-y: auto; /* Thêm thanh cuộn dọc */
}


.completed-section {
margin-top: 20px;
}